@import "../variables.scss";

.content {
    background-color: $background-color;

    .text {
        text-align: center;
        margin: .5em 0;

        .oops {
            font-size: 36px;
        }
    }

    :global(h3) {
        color: $primary-color;
    }
}